*{
    margin: 0;
    padding: 0;
}
/* .header{
    background-color: #26e42627 !important;
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

.header{
    background-color: #1849d0b3 !important;
    display: flex;
    
}

body {
    background-color:aliceblue
}

.header h1{
    color:rgb(5, 41, 199);
    
}

.ul-header{
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.ul-header li{
    margin: 0 10px;
    text-decoration: none;
}

.main h2{
    margin: 10px;
    padding: 10px;
}


.parrafo{
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    background-color: rgba(0, 0, 0, 0.709);
    margin: 0;
    padding: 30px;
}

.ul-footer{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img {
    max-width: 100%;
    height: auto;
  }
  
  video {
    max-width: 100%;
    height: auto;
  }

